/*Paleta de colores*/
$color-azul: #004C99;
$color-rojo: #FF2E2E;
$color-celeste: #00CCAA;
$color-amarillo: #FFD369;
$color-negro: #000000;
/*tipografia*/
$font-principal: 'Bangers', system-ui;
/*Breakpoints*/
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
